/*
    gallery start
 */

.gallery {
  position: relative;
  padding-bottom: 104px;
  //height: 1364px;

  &__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    //a {
    //
    //  &:first-child {
    //    grid-area: one;
    //  }
    //
    //  &:nth-child(2) {
    //    grid-area: two;
    //    display: none;
    //  }
    //
    //  &:nth-child(3) {
    //    grid-area: three;
    //    display: none;
    //  }
    //
    //  &:nth-child(5) {
    //    grid-area: five;
    //  }
    //
    //  &:nth-child(6) {
    //    grid-area: six;
    //  }
    //
    //  &:nth-child(7) {
    //    grid-area: seven;
    //  }
    //
    //  &:nth-child(8) {
    //    grid-area: eigth;
    //  }
    //}
    //
    //figure.clip {
    //  grid-area: four;
    //  display: none;
    //}
    //grid-template: "one one two two" auto;
    //
    //>a {
    //  grid-area: one;
    //}
    //
    //&-block {
    //  grid-area: two;
    //}
  }
  //&__content {
  //  display: grid;
  //  grid-template: "one two three" auto
  //  "one four four" auto
  //  "one five five" auto;
  //
  //  a {
  //
  //    &:first-child {
  //      grid-area: one;
  //    }
  //
  //    &:nth-child(2) {
  //      grid-area: two;
  //    }
  //
  //    &:nth-child(3) {
  //      grid-area: three;
  //    }
  //  }
  //
  //  figure.clip {
  //    grid-area: four;
  //  }
  //
  //  figure.photo {
  //    grid-area: five;
  //    display: flex;
  //
  //    a {
  //
  //      &:first-child {
  //        grid-area: one;
  //      }
  //
  //      &:nth-child(2) {
  //        grid-area: two;
  //      }
  //
  //      &:nth-child(3) {
  //        grid-area: three;
  //      }
  //
  //      &:last-child {
  //        grid-area: four;
  //      }
  //    }
  //  }
  //
  //}

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 1080px;
    background: url("../img/gallery/snowdrift.png") no-repeat center/cover;
    position: absolute;
    bottom: -746px;
    left: 0;
  }
}