/*
    catalog style
 */

.catalog {
  padding: 124px 0 83px;
  position: relative;

  @include mq(md) {
    padding: 70px 0 37px;
  }

  .container {
    position: relative;
    z-index: 9;
  }

  &__block {
    position: relative;

    section {
      box-sizing: border-box;
      padding: 34px 93px 40px 24px;
      background: $white;
      border-radius: 5px;
      position: relative;
      margin-bottom: 29px;

      @include mq(xl) {
        padding-right: 55px;
      }

      @include mq(md) {
        padding-right: 24px;
        margin-bottom: 20px;
      }

      @include mq(s) {
        padding: 30px 10px 16px;
        text-align: center;
      }

      @include mq(xs) {
        text-align: left;
      }

      h2 {
        color: $main;
        margin-bottom: 17px;

        @include mq(s) {
          margin-bottom: 10px;
        }

        @include mq(xs) {
          font-family: $fm, sans-serif;
          text-align: left;
        }

        span {
          display: block;
          margin-left: 3px;

          @include mq(s) {
            margin-left: 0;
          }

          @include mq(xs) {
            font-family: $fb, sans-serif;
            margin: -2px 0 0 3px;
          }
        }
      }

      p.big {
        color: $pale-green;
      }

      span.button.sale {
        position: static;

        @include mq(s) {
          margin: 0 auto;
        }

        @include mq(xs) {
          margin: 0;
        }
      }

      .price {
        margin: -10px 0 20px 622px;

        @include mq(lg) {
          margin-left: 458px;
        }

        @include mq(md) {
          margin-left: 210px;
        }

        @include mq(s) {
          margin: 20px auto;
        }

        span {

          &.old-price {

            @include mq(xs) {
              font-size: 24px;
              line-height: 31px;
            }
          }

          &.new-price {
            color: $pink;

            @include mq(xs) {
              font-size: 48px;
              line-height: 62px;
            }
          }
        }
      }

      ul {
        max-width: 453px;
        margin-left: 630px;

        @include mq(lg) {
          margin-left: 465px;
        }

        @include mq(md) {
          margin-left: auto;
        }

        @include mq(s) {
          text-align: left;
          margin: 0 auto;
        }

        li {
          margin-bottom: 20px;

          p.big {

            span {
              display: inline-block;
              width: 274px;

              @include mq(md) {
                width: 270px;
              }

              @include mq(s) {
                width: 274px;
              }

              @include mq(xs) {
                width: auto;
              }
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .catalog__block-img {
        position: relative;
        position: absolute;
        top: 50px;
        left: 442px;

        @include mq(lg) {
          width: 400px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          top: 180px;
          left: 24px;
        }

        @include mq(md) {
          width: auto;
          display: block;
          left: 60px;
        }

        @include mq(s) {
          position: static;
          display: flex;
          max-width: 520px;
          margin: 21px auto 60px;
        }

        a {
          margin-bottom: 10px;
          transition: all 0.5s ease-in-out;

          @include mq(lg) {
            width: 180px;
          }

          @include mq(md) {
            width: 120px;
          }

          @include mq(s) {
            width: 249px;
          }

          @include mq(xs) {
            width: 47%;
            min-width: 129px;
          }

          img {
            transition: inherit;

            @include mq(lg) {
              width: 100%;
            }
          }
        }

        figure.clip {
          height: 100px;

          @include mq(lg) {
            width: 180px;
            height: 120px;
            margin: 0 auto;
          }

          @include mq(md) {
            width: 120px;
            height: 80px;
          }

          @include mq(s) {
            width: 249px;
            height: 166px;
          }

          @include mq(xs) {
            width: 55%;
            min-width: 150px;
            height: auto;
            padding-bottom: 38%;
          }

          iframe {
            top: 0;
            left: 0;
          }

          .video-play {
            width: 30px;
            height: 29px;
          }
        }

        img.big {
          position: absolute;
          pointer-events: none;
          transition: opacity 0.5s ease-in-out;
          left: -484px;

          @include mq(lg) {
            display: none;
          }

          &.black {
            top: 77px;
          }

          &.white {
            top: 49px;
          }
        }
      }

      .color {
        display: flex;
        position: absolute;
        top: 54px;
        left: 654px;

        @include mq(lg) {
          left: 489px;
        }

        @include mq(md) {
          left: 240px;
        }

        @include mq(s) {
          position: static;
          justify-content: center;
        }

        @include mq(xs) {
          display: block;
          margin: 0 auto;
        }

        p {
          margin-top: 49px;
          margin-right: 20px;

          @include mq(xs) {
            margin: 0 0 11px 0;
            text-align: center;
          }
        }

        figure {
          display: flex;

          @include mq(xs) {
            justify-content: center;
          }

          span {
            display: block;
            width: 100px;
            height: 100px;
            background: #d3e5ed;
            border-radius: 50%;
            position: relative;
            cursor: pointer;
            transition: all 0.75s ease-in-out;

            &:after {
              content: "";
              display: block;
              width: 100px;
              height: 86px;
              position: absolute;
              top: 0;
              left: 5px;
            }

            &.black {

              &:after {
                background: url("../img/catalog/black-woman.png") no-repeat center/cover;
              }
            }

            &.white {

              &:after {
                background: url("../img/catalog/white-woman.png") no-repeat center/cover;
              }
            }

            &.active {
              background: $light-gray;
            }

            &:nth-child(2) {
              margin-left: 38px;
            }
          }
        }
      }

      p.small {
        color: $pink;
        max-width: 292px;
        position: absolute;
        bottom: 36px;
        left: 24px;

        @include mq(lg) {
          bottom: 25px;
        }

        @include mq(md) {
          position: static;
          text-align: center;
          max-width: 100%;
          margin-top: 35px;
        }
      }

      .rating {
        width: 80px;
        height: 80px;
        background: #f4c857;
        border-radius: 50%;
        position: relative;
        position: absolute;
        top: -40px;
        left: -40px;

        @include mq(xl) {
          left: -20px;
        }

        @include mq(lg) {
          left: -5px;
        }

        @include mq(s) {
          display: none;
        }

        &:before, &:after {
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }

        &:before {
          width: 20px;
          height: 20px;
          background: url("../img/catalog/star.png") no-repeat center/cover;
          top: 15px;
        }

        &:after {
          content: "4,9/5,0";
          font-family: $fm, sans-serif;
          font-size: 16px;
          line-height: 21px;
          text-transform: uppercase;
          color: #554315;
          bottom: 17px;
        }
      }
    }

    form {

      @include mq(md) {
        flex-wrap: wrap;
        justify-content: space-between;
      }

      @include mq(s) {
        align-items: flex-start;
      }

      .form-group {

        @include mq(xl) {
          width: 270px;
        }

        @include mq(lg) {
          width: 230px;
        }

        @include mq(s) {
          width: 48%;
        }

        @include mq(xs) {
          width: 100%;
        }

        &.tel {
          margin: 0 11px;

          @include mq(md) {
            margin: 0;
          }

          @include mq(xs) {
            margin: 10px auto;
          }
        }

        &.order {
          margin-left: auto;

          @include mq(md) {
            width: 320px;
            margin: 20px auto 0;
          }

          @include mq(s) {
            width: 48%;
            margin: 20px 0 0;
          }

          @include mq(xs) {
            width: 100%;
          }
        }
      }

      .select-box {
        width: 280px;

        @include mq(xl) {
          width: 270px;
        }

        @include mq(lg) {
          width: 230px;
        }

        @include mq(s) {
          width: 48%;
          margin-top: 20px;
        }

        @include mq(xs) {
          width: 100%;
          margin: 0;
        }

        .jq-selectbox {
          width: 100%;

          &__select {
            box-sizing: border-box;
            width: 100%;
            height: auto;
            padding: 21px 23px 14px;
            border: none;
            text-shadow: none;
            box-shadow: none;
            background: $white;
            border-radius: 5px;
            font-family: $fb, sans-serif;
            font-size: 18px;
            line-height: 20px;
            color: $pale-green;

            &-text {
              width: 100% !important;
            }

            &:after {
              content: "";
              display: block;
              width: 16px;
              height: 9px;
              background: url("../img/catalog/arrow.png") no-repeat center/cover;
              position: absolute;
              top: 28px;
              right: 16px;
              pointer-events: none;
              transition: all 0.25s ease-in-out;
            }
          }

          &__dropdown {
            box-sizing: border-box;
            background: $white;
            border-radius: 5px;
            border: 2px solid $pale-green;
            box-shadow: none;
            font-family: $fb, sans-serif;
            font-size: 18px;
            line-height: 20px;
            color: $pale-green;
            overflow: hidden;

            ul {
              margin: 0 auto;

              li {
                color: inherit;
              }
            }
          }

          &__trigger {
            display: none;
          }

          &.opened {

            .jq-selectbox__select {

              &:after {
                transform: translateY(-50%) scale(1, -1);
              }
            }
          }
        }
      }
    }

    .vector {
      z-index: -1;

      &.left {
        width: 583px;
        height: 430px;
        background: url("../img/catalog/vector-left.png") no-repeat center/cover;
        top: -55px;
        left: -152px;
      }
    }

    &.woman {

      .vector {

        &.right {
          width: 656px;
          height: 660px;
          background: url("../img/catalog/vector-right.png") no-repeat center/cover;
          bottom: -405px;
          right: -348px;

          @include mq(s) {
            display: none;
          }
        }
      }
    }

    &.man {
      margin: 155px auto 58px;

      @include mq(md) {
        margin: 60px auto 26px;
      }

      section {

        .catalog__block-img {

          img.big {

            &.yellow {
              top: 72px;
              left: -474px;
            }

            &.black {
              top: 77px;
              left: -483px;
            }
          }
        }

        .color {

          figure {

            span {

              &:after {
                width: 110px;
                height: 77px;
                top: 10px;
                left: -1px;
              }

              &.yellow {

                &:after {
                  background: url("../img/catalog/yellow-man.png") no-repeat center/cover;
                }
              }

              &.black {

                &:after {
                  background: url("../img/catalog/black-man.png") no-repeat center/cover;
                }
              }
            }
          }
        }

        .rating {

          &:after {
            content: "3,8/5,0";
          }
        }
      }

      .vector {

        &.left {
          top: calc(100% - 542px);
        }
      }
    }
  }

  .snow {
    width: 100%;
    height: 987px;
    background: url("../img/catalog/snow.png") no-repeat center/cover;
    position: absolute;
    top: 532px;
    left: 0;

    @include mq(md) {
      display: none;
    }
  }
}