/*
    gallery start
 */

.gallery {
  position: relative;
  padding-bottom: 104px;

  @include mq(s) {
    padding-bottom: 67px;
  }

  &__content {
    display: flex;
    max-width: 1903px;
    margin: 0 auto;

    @include mq(xs) {
      display: block;
    }

    img {

      @include mq(xxl) {
        width: 100%;
      }
    }

    a {
      position: relative;
      z-index: 9;
    }

    >a {
      width: 32.3%;

      @include mq(xs) {
        width: 100%;
      }
    }

    &-block {
      width: 67.7%;
      display: flex;
      flex-wrap: wrap;

      @include mq(xs) {
        width: 100%;
      }

      a {
        &:first-of-type {
          width: 52.23%;
        }

        &:nth-of-type(2) {
          width: 47.77%;
        }

        &:nth-of-type(3), &:nth-of-type(4) {
          width: 26.15%;
        }

        &:nth-of-type(5) {
          width: 25.3%;
        }

        &:last-of-type {
          width: 22.4%;
        }
      }

      figure.clip {
        width: 100%;
        padding-bottom: 23.287%;

        @include mq(xxl) {
          padding-bottom: 23%;
        }

        img {
          filter: none;
        }

        &:hover {

          img {
            opacity: 0.8;
          }
        }
      }
    }
  }
}