/*
    footer style
 */

.footer {
  background: url("../img/footer/bg.png") no-repeat center/cover, linear-gradient(180deg, #031821 0%, #271c47 100%);
  padding: 98px 0 53px;
  position: relative;

  @include mq(md) {
    padding-top: 56px;
  }

  @include mq(s) {
    padding-bottom: 29px;
    background-position: bottom center;
    background-size: auto;
  }

  .container {
    position: relative;
    z-index: 9;
  }

  .review {

    h3 {
      margin-bottom: 81px;

      @include mq(md) {
        margin-bottom: 25px;
      }
    }

    &__content {

      &-slider {

        &__item {
          display: flex;
          justify-content: space-between;

          @include mq(s) {
            display: block;
          }

          figure {
            width: 50%;

            @include mq(s) {
              width: 100%;
            }
            //max-width: 500px;

            p {

              &.big {
                color: $light-gray;
                margin-bottom: 15px;
                max-width: 500px;

                @include mq(lg) {
                  width: 84%;
                }

                @include mq(md) {
                  width: 95%;
                }

                @include mq(s) {
                  width: 100%;
                  max-width: 100%;
                }
              }

              &.small {
                color: $blue;
                text-transform: uppercase;
              }
            }
          }
        }
      }

      &-nav {
        width: 190px;
        display: flex;
        justify-content: space-between;
        margin: 32px 0 0 auto;

        @include mq(s) {
          width: 118px;
          margin-top: 7px;
        }

        .prev-arrow, .next-arrow {
          width: 60px;
          height: 60px;
          background: url("../img/footer/arrow.png") no-repeat center/auto, $gradient;
          border-radius: 50%;
          filter: $shadow2;
          cursor: pointer;

          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            box-shadow: $shadow2;
          }

          @include mq(s) {
            width: 37px;
            height: 37px;
            background: url("../img/footer/arrow-s.png") no-repeat center/auto, $gradient;
          }
        }

        .next-arrow {
          transform: scale(-1, 1);
        }
      }
    }
  }

  &__content {
    margin-top: 279px;
    position: relative;

    @include mq(md) {
      margin-top: 141px;
    }

    h2 {

      span {

      }
    }

    h4 {
      color: $white;
      max-width: 594px;
      margin: 0 0 62px;

      @include mq(s) {
        margin: 20px auto 14px;
        text-align: center;
      }
    }

    .price {

      @include mq(s) {
        text-align: center;
      }
    }

    &-img {
      position: relative;
      position: absolute;
      bottom: -28px;
      right: -141px;

      @include mq(xxl) {
        right: -81px;
      }

      @include mq(xl) {
        width: 620px;
        right: -20px;
      }

      @include mq(lg) {
        width: 520px;
        right: 0;
      }

      @include mq(md) {
        width: 400px;
        text-align: center;
      }

      @include mq(s) {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 23px;
      }

      @include mq(xs) {
        width: 100%;
      }

      img {
        position: relative;
        z-index: 9;

        @include mq(xl) {
          width: 100%;
        }

        @include mq(xs) {
          width: 104%;
          min-width: 296px;
          left: -8px;
        }
      }

      span.button.sale {
        top: 141px;
        left: -111px;

        @include mq(xl) {
          left: -120px;
        }

        @include mq(lg) {
          top: 45px;
        }

        @include mq(md) {
          position: static;
          margin: 0 auto 19px;
        }
      }

      &:before {
        /* скрыть на xxl */
        content: "";
        display: block;
        width: 775px;
        height: 393px;
        background: url("../img/footer/logo.png") no-repeat center/cover;
        position: absolute;
        top: -96px;
        right: -291px;

        @include mq(xxl) {
          display: none;
        }
      }
    }

    .to-order {
      margin: 22px 0 79px;

      @include mq(md) {
        margin: 23px 0 51px;
      }

      @include mq(s) {
        margin: 23px auto 51px;
        text-align: center;
      }
    }

    >p.small {
      color: $light-gray;

      @include mq(s) {
        text-align: center;
      }

      a {
        display: inline-block;
        color: inherit;
      }
    }
  }

  .snow {
    width: 1266px;
    height: 569px;
    background: url("../img/footer/snow.png") no-repeat center/cover;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 371px;
    background: url("../img/footer/wave.png") no-repeat center/cover;
    position: absolute;
    bottom: 394px;
    left: 0;

    @include mq(md) {
      width: 1920px;
      height: 371px;
      bottom: 254px;
      left: 50%;
      transform: translateX(-50%);
    }

    @include mq(s) {
      bottom: 621px;
    }

    @include mq(xs) {
      bottom: 561px;
    }
  }
}